.wsbm-s-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    background-color: #222222;
    color: #FFFFFF;
    margin: 0.3rem;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.5s;
    position: fixed;
    right: 0;
    top: 10rem;
}

.wsbm-s-main-hide {
    background-color: transparent;
    width: 0.1rem;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: width, height, margin, padding;
}

.wsbm-s-box {
    display: flex;
    margin: 0.5rem;
}

.wsbm-s-input {
    height: 2rem;
    padding: 0.2rem;
    width: 12rem;
    border: 1px solid rgb(0, 238, 255);
    box-shadow: 0 0 10px rgb(0, 238, 255);
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
}

.wsbm-s-input:focus {
    outline: none;
}

.wsbm-s-btn {
    width: 5rem;
    cursor: pointer;
    background-color: rgb(104, 151, 123);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(104, 151, 123);
    color: #FFFFFF;
    border: 1px solid rgb(104, 151, 123);
}

.wsbm-s-list {
    padding: 0.2rem;
    margin: 0;
    list-style: none;
    display: none;
    flex-direction: column;
    width: 17.4rem;
    max-height: 16rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.wsbm-s-list::-webkit-scrollbar {
    width: 0rem;
}

.wsbm-s-list li {
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    transition: 0.3s;
    text-align: left;
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    color: #FFFFFF;
    border: #08b4f2 1px solid;
    word-wrap: break-word;
}

.wsbm-s-list li:hover {
    cursor: pointer;
    color: #000000;
    background-color: #08b4f2;
}

.wsbm-s-title {
    line-height: normal;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: small-caps;
    color: rgb(104, 151, 123);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(104, 151, 123);
    background-color: #222222;
}

.wsbm-s-title:hover {
    color: #FFFFFF;
}

.wsbm-s-list li a {
    text-decoration: none;
    color: #FFFFFF;
}

.wsbm-s-list li a:link {
    text-decoration: none;
    color: #FFFFFF;
}

.wsbm-s-list li a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.wsbm-s-list li a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.wsbm-s-list li a:active {
    text-decoration: none;
    color: #FFFFFF;
}